@mixin responsive() {
    @media only screen and (max-width: 767px) {
      @content;
    }
  }

  @mixin center-contains ($width , $height , $position:"center") { //valeur par defaut de position = center

    width: $width;
    height: $height;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    @if($position == "center"){
        justify-content: center;
    }
    @else if( $position == "left"){
        justify-content: flex-start;
    }
    @else if( $position == "right" ){
        justify-content: flex-end;
    }

}
@mixin center-block ($width , $height , $padding : 0px) {
    display: block;
    width: $width;
    height: $height;
    padding: $padding;
    box-sizing: border-box;
    margin: 0 auto;
}