@import 'variables'; 
@import 'mixins';

body{
    padding: 0;
    width: auto;
    margin: 0 15%;
    font-family: $font-family;
    background-color: $background-color;
}

//-------------------------Footer---------------------//
footer{
	background-color: #561e0d;
	box-sizing: border-box;
	width: 100%;
	padding: 45px 50px;
    margin-top: 80px;
    
    .footer-left p{
        color:  white;
        margin-bottom: 10px;
        width: 75%;
        text-align: left;
        padding: 0;
        font-size:14pt;
    }

    .footer-links{        
        color:  #ffffff;
        margin: 0 0 10px;
        padding: 0;
        a{
            font-size: 18pt;
            text-decoration: none;
            color: white;
        }

        a:hover{
            color: rgb(197, 149, 16);
        }
    }

    .footer-right{
        float: right;
        margin-top: 6px;
        max-width: 180px;
        a{
            display: inline-block;
            width: 50px;
            height: 50px;
            border-radius: 2px;

            font-size: 20px;
            color: #ffffff;
            text-align: center;
            line-height: 35px;

            margin-left: 3px;
        }

        .img-footer{
            width: 100%;
            height: auto;

            img{
                width: 100%;
                filter: opacity(80%);
            }

            img:hover{
                filter: opacity(100%);
            }
        }
    }

  
}
    
    //---------------------Accueil-----------------------//

    
    .accueilOrchestique{
        width: 100%;
        align-items: center;

    .orchestiqueLogo{
        width: 60%;
        opacity: 1;
	    -webkit-transition: .3s ease-in-out;
	    transition: .3s ease-in-out;
        &:hover{
        opacity: .5;
        }
    }

    .animationAccueil{
        columns: 2;
        width: 100%;
    }

    a{
        position: relative;
        display: block;
        width: 100%;
    }

    
    .titre{
        position: absolute;
        left: 40%;
        top: 40%;
        background-color: #561e0d8c;
        border-radius: 10px;
        padding: 10px;
        opacity: 0;
        font-size: 30pt;
        color: white;
    }

    /*.imgDef:hover ~ .titre-courant {
        opacity: 1;
        transition: .3s ease-in-out;
    }*/

    #img-accueil-courant{
        width: 100%;
        margin: 0;
        padding: 0;
    }


    .imgDef{
        width: 100%;
        position: relative;
        -webkit-transform: scale(1);
	    transform: scale(1);
	    -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
        &:hover{
            transform: scale(.9);

            & ~ .titre{
                opacity: 1;
                transition: .3s ease-in-out;
            }
        }
    }
        
 
    .imgTemps{
        width: 100%;
        margin-top: 50px;
        transition: .3s ease-in-out;
        &:hover{
            transform: translate(-100px);
            
            & ~ .titre{
                opacity: 1;
                transition: .3s ease-in-out;
            }
        }
        
    }

    .imgAsk{
        width: 100%;
        -webkit-transition: .3s ease-in-out; 
        transition: .3s ease-in-out;
        &:hover{
            margin-right: 34px;
            transform: rotate(360deg); /* rotation de l'image */

            & ~ .titre{
                opacity: 1;
                transition: .3s ease-in-out;
            }
        }
    }

    .imgPhoto{
        width: 100%;
        -webkit-filter: blur(2px);
        filter: blur(2px);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
        &:hover{
            filter: blur(0);

            & ~ .titre{
                opacity: 1;
                transition: .3s ease-in-out;
            }
        }
    }

    .imgVirtuoses{
        width: 100%;
        margin-top: 5%;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
        &:hover{
            filter: grayscale(0);

            & ~ .titre{
                opacity: 1;
                transition: .3s ease-in-out;
            }
        }
    }
}
    // Navigation
    nav{
        border-bottom: 1px solid black;
        margin-bottom: 20px;

        // Bouton burger
        .btn-burger{
            display: none;
        }
        #burger{
            display: none;
        }
        
        #burger:checked~.menu{
        display: flex;
        }

        ul{
            display: flex;
            justify-content: space-around;
            li{
                list-style: none;
                a{
                    text-decoration: none;
                    color: #e6a434;
                    font-size: 25pt;
                    &:hover{
                        color: rgb(247, 220, 151);
                    }
                }

                .btn-actif{
                    background-color: #561e0d5e;
                    padding: 10px;
                    color: rgb(247, 220, 151);
                    border-radius: 5px;

                    &:hover{
                        background-color: #561e0d2d;
                        color:  #e6a434;
                    }
                }
            }
            
            .logo{
                padding: 0;
                width: 15%;
                
                .img-menu{
                    width: 70%;
                    
                    img{
                        width :100%;
                    }
                }   
            }
    }
}
            // -----------------Le classique------------------//
    main{
        .banniere{
            background-image: url(../img/bannieree.png);
            background-position: center;
            background-size: cover;
            height: 70vh;
            width: auto;
        }
        h1{
            font-size: 30pt;
                border-bottom: 1px solid #000; 
                width : 50%;
        
        }
        h2{
            font-size: 25pt;
            margin: 0 auto;
            padding: 0;
        }
        p{
            font-size: 20pt;
            text-align: justify;
        }

        .responsive-container{
            position: relative;
            padding-bottom: 56.25%;
            padding-top: 10%;
            height: 0;
            overflow: hidden;
        }
        
        .responsive-container iframe{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        // ----------Grands Virtuoses -----------------//

        .grandVirtuosesContainer{
            display: flex;
            flex-wrap: wrap;
            position: relative;
        }

        .grandsVirtuoses{
            display: flex;
            width: 49%;
        }

        .grandsVirtuoses div{
            margin: 10px;
            border: 1px solid none;
            display: block;
            background-color: #f1e1b4;
            border-radius: 30px;
            padding: 5%;
            margin: 20px;
            text-align: center;         
            img{
                width: 100%;
                border-radius: 20px;
            }
            h2{
                font-size: 25pt;
                padding: 20px;
            }
            p{
                font-size: 20pt;
                margin: 0%;
                padding-bottom: 5%;
            }
            .link{
                border: 1px solid black;
                cursor: pointer;
                text-align: center;
                border-radius: 15px;
                background-color: #e9c17d;
                text-decoration: none;
                color: black;
                padding: 10px 10px;
                font-size: 20pt;
            }
            .stars{
                padding: 0%;
                margin: 0%;
            }
        }

        
}

            // Notation Étoile

.stars{
    .notes{
        display: inline-block;
        font-size: 30px;
        color: orangered;      
    }

    // Permet de mettre les étoiles de couleur pleine quand on passe dessus

    &:hover > .notes::before{
        content: "\2605";
        position: absolute;
    }
    .notes:hover ~ .notes::before{
            content: "";
        }
}

//---------------------------------Pour la page ecoute en ligne---------------------------------//

#divPlayer {
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #aaa;
	border-radius: 2px;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
	padding: 20px;
    margin-top: 50px;
    margin-bottom: 50px; 
    
    h1 {
        font-size: 17px;
        line-height: 30px;
        margin: 0;
        padding: 0;
        margin-bottom: 25px;
        border-bottom: #000 1px solid;
        }
    
        button {
        border-radius: 2px;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
        background-color: rgba(153, 143, 143, 0.918);
        border: 1px solid #aaa;
        color: #444;
        margin-bottom: 0px;
        min-width: 4em;
        padding: 3px 12px 3px 12px;
        font-size: 12px;
        cursor: pointer;
    }

    button:hover{
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
        background: #ebebeb;
        background: #ebebeb;
        border-color: #999;
        color: #222;
    }

    .control {
        width: 78px;	
    }

    #progression-bar-control {
        width: 210px;
        height: 15px;
        border: 1px solid #aaa;
        border-radius: 2px;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
        margin-bottom: 5px;
        display: inline-block;
        
        #js-progression-bar {
            width: 0px;
            background: #ebebeb;
            height: 15px;
            text-align: right;
            line-height: 15px;
            font-size: 9px;
            white-space: nowrap;
            cursor: pointer;
        }

        #js-progression-temps {
            font-size: 10px;
            color: #666;
        }
    }
    
}
.liste-musique{
    display: flex;
    justify-content: space-around;
}

.btn-musique,
.btn-musique::before,
.btn-musique::after
{
  transition: all ease .5s;
}

.btn-musique{
  position: relative;
  display: inline-block;
  padding: 0.3em;
  margin: 1em;
  border: solid 1px;
  cursor: pointer;
  font-size: 20pt;
}

.btn-musique:hover
{
  box-shadow: 0 0 2em .5em rgba(255, 52, 1, 0.5);
}



.btn-musique::before,
.btn-musique::after
{
  content: '';
  position: absolute;
  border: 1px;
}

.btn-musique::before
{
  border-style: solid none;  
}

.btn-musique::before{      
  left: 0;
  top: -0.4em;
  width: 100%; 
  height: calc(100% + 0.8em);
}

.btn-musique::after
{
  border-style: none solid;   
}

.btn-musique::after
{
  top: 0;
  left: -0.4em;
  height: 100%;
  width: calc(100% + 0.8em); 
}

.btn-musique:hover::after
{
  transform: scaleY(0);
}

.btn-musique:hover::before
{
  transform: scaleX(0);
}




    //------------------------------------Pour la page media ----------------------------------------//
     .medias-container{
         display: flex;
        margin: 30px;
         .medias{ 
             margin: 10px;
             width: 50%;
             height: 20vh;
             .img-container{
                 width: 90%;
                 cursor: pointer;
                 padding: 10px;
                 filter : grayscale(100%);
                &:hover{
                    filter : grayscale(20%);
                }
                 img{
                     width: 100%;
                     height: auto;
                 }
             }
         }
     }

     /* Modale */

.modale{
    width: 100%;
    height: 100vh;
    background-color: rgba(51, 51, 51, 0.514);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    color: #ffffff;
    display: none;
}
.modale-window{
    width: 50%;
    background-color: #fff;
    border-radius: 10px;
}

.modale main{
    background-color: #fff;
    color: #000;
    text-align: center;
    font-size: 22pt;


    //---------- For image ---------------//
    
    #js-img-container{
        margin: 3px auto 3px auto;
        width: 80%;

        img{
            width: 100%;
            margin: 0;
            padding: 0;

        }
    }


    //----------- For video ------------------//
    
    /* Recette pour youtube responsive*/
    #js-video-container{
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 30px;
        height: 0;
        overflow: hidden;

        iframe{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
    
    /* Fin de recette */
    
}

.modale header, 
.modale footer{
    height: 50px;
    padding: 12px;
    background-color: #4d331598;
    display: flex;
    margin: 0;
}

.modale h3{
    display: block;
    flex-grow: 1;
}

.close-btn{
    font-size: 2em;
    user-select: none;
    cursor: pointer;
    transition: transform .2s ease;
}


.close-btn:hover{
    transform: scale(1.2);
}

.modale header{
    border-radius: 7px 7px 0 0 ;
}

.modale footer{
    border-radius: 0 0 7px 7px;
}




    //-----------------------------------Pour la timeline------------------------------------------//
 
/**
*
* SCSS Récupéré de ce lien pour faire la timeline 
* https://codepen.io/knyttneve/pen/bgvmma/?fbclid=IwAR31lRu_-zOI3tYH74nyFTyYUwF2tcb8IX4yG7q4NsFINgutfrQlo6oCLN8
*
*/

    @import url('https://fonts.googleapis.com/css?family=Cardo|Pathway+Gothic+One');

    
    .timeline {
      display: flex;
      margin: 0 auto;
      flex-wrap: wrap;
      flex-direction: column;
      max-width: $timeline-width;
      position: relative;

      .timeline__content {
        &-title {
          font-weight: normal;
          font-size: 50px;
          margin: -10px 0 0 0;
          transition: .4s;
          padding: 0 10px;
          box-sizing: border-box;
          font-family: $font-family;
          color: #fff;
          text-shadow: 0 0 5px rgb(0, 0, 0);
        }
        &-desc {
          margin: 0;
          font-size: 15px;
          box-sizing: border-box;
          color: rgba(#fff, .7);
          font-family: $font-family;
          font-weight: normal;
          line-height: 25px;
        }
      }

      &:before {
        position: absolute;
        left: 50%;
        width: 2px;
        height: 100%;
        margin-left: -1px;
        content: "";
        background: rgba(255, 255, 255, .07);
      }

      &-item {
        padding: 40px 0;
        opacity: .3;
        filter: blur(2px);
        transition: .5s;
        box-sizing: border-box;
        width: calc(50% - 40px);
        display: flex;
        position: relative;
        transform: translateY(-80px);
        &:before {
          content: attr(data-text);
          letter-spacing: 3px;
          width: 100%;
          position: absolute;
          color: rgba(#fff, .5);
          font-size: 40px;
         font-family: $font-family;
          border-left: 2px solid rgba(#fff, .5);
          top: 70%;
          margin-top: -5px;
          padding-left: 15px;
          opacity: 0;
          right: calc(-100% - 56px);
        }

        &:nth-child(even) {
          align-self: flex-end;
          &:before {
            right: auto;
            text-align: right;
            left: calc(-100% - 56px);
            padding-left: 0;
            border-left: none;
            border-right: 2px solid rgba(#fff, .5);
            padding-right: 15px;
          }
        }

        &--active {
          opacity: 1;
          transform: translateY(0);
          filter: blur(0px);
          &:before {
            top: 50%;
            transition: .3s all .2s;
            opacity: 1;
          }
          .timeline__content-title {
            margin: -50px 0 20px 0;
          }
        }
      }

      &__img {
        max-width: 100%;
        box-shadow: 0 10px 15px rgba(0, 0, 0, .4);
      }
      &-container {
        width: $timeline-container-width;
        position: relative;
        padding: 80px 0;
        transition: .3s ease 0s;
        background-attachment: fixed;
        background-size: cover;
        &:before {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background: #968452;
          content: "";
        }
      }
      &-header {
        width: 100%;
        text-align: center;
        margin-bottom: 80px;
        position: relative;
        &__title {
          color: #fff;
          font-size: 46px;
          
        font-family: 'Open Sans Condensed', sans-serif;
          font-weight: normal;
          margin: 0;
        }
        &__subtitle {
          color: rgba(255, 255, 255, .5);
          font-family: 'Open Sans Condensed', sans-serif;
          font-size: 16px;
          letter-spacing: 5px;
          margin: 10px 0 0 0;
          font-weight: normal;
        }
      }
    }
    //--------------------- Formulaire -----------------------//
    .formulaireQuestion{
        width: 70%;
        margin: 0 auto;
        padding: 30px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
        -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
        -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);
     h2{
        background: #e9c17d;
        font-family: 'Open Sans Condensed', sans-serif;
        color: black;
        text-align: center;
        font-size: 30pt;
        font-weight: 100;
        padding: 20px;
        margin: -30px -30px 30px -30px;
    }
    input[type="text"],input[type="email"], textarea, select {
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        display: block;
        width: 100%;
        margin-top: 20px;
        padding: 7px;
        border: none;
        outline: none;
        text-decoration: none;
        border-bottom: 1px solid #ddd;
        background: transparent;
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 20pt;
        height: 45px;
    }
    textarea{
        resize: vertical;
        height: 200px;
    }
    select &:hover{
        border-radius: 200px;
    }

    input[type="submit"]{
        background-color: #e9c17d;
        border: 0px solid;
        cursor: pointer;
        color: saddlebrown;
        font-size: 18pt;
        font-family: 'Open Sans Condensed', sans-serif;
        padding: 8px 30px;
        margin: 20px;
        margin-bottom: 5px;
        margin-left: 85%;
        border-radius: 10px;
        &:hover{
            background: #e9c17da8;
            border: none;
        }
    }
    option{
        background: #eccd9780;
        border: none;

    }

    .erreur {
        padding: 1em;
        background-color: #ef2c09;
        color: #fff;
        border-radius: 5px;
        display: none;
    }
}

//-------------------------------------//


    //---------------------Responsive-----------------------//

   @media screen and (max-width : 1500px){
        .btn-menu{
            font-size: 25pt;
        }

        .banniere{
            background-size: cover;
        }

        .grandsVirtuoses{
            flex-direction: column;
            
            .link {
                padding: 0;
            }
        }
        
        .accueilOrchestique{

            .imgDef{
                margin-left: 0;
            }

            .imgTemps{
                margin-left: 0;
            }

        }
   }

   @media screen and (max-width : 1300px){
        .btn-menu{
            font-size: 20pt;
        }

        .banniere{
            background-size: cover;
        }

        .modale{
            height: 100%;
            .modale-window{
                width: 100%;
                height: auto;
            }
            footer{
                margin: 0;
            }
        }

        
    }

    @media screen and (max-width: 1050px){

        // Mise en forme
    body{
        padding: 0;
        width: auto;
        margin: 0 5%;
    }
    main{
        width: 100%;
        .banniere{
            background-size: cover;
        }
    }
         // Navigation
    .menu{
        padding: 0;
        flex-direction: column;
        align-items: center;
        display: none;
    }
        
    /* Menu burger */

    nav{
        width: 50vh;
        background-color: rgb(255, 230, 183);
        border: 1px solid black;
        position: static;
        position: fixed;
        z-index: 1;

        .logoOrchestiques{
            width: 50vw;
            height: auto;
        }
        .img-menu{
            margin: 0;
            height: 100px;
        }
        .btn-burger{
            color: wheat;
            font-size: 30px;
            display: flex;
            position: fixed;
        }
        ul{
            li{
               margin: 10px; 
            }
            
            .logo{
                padding: 0;
                width: 100%;
            
            .img-menu{
                
                img{
                    height: 100%;
                    width: auto;
                }
            }   
        }
        }
        
    }
        // Ligne du temps
        .timeline{
            padding: 10px;
            .timeline__content {
                &-title {
                  font-size: 20px;
                  
                }
                &-desc {
                  line-height: 20px;
                }
              }
    
        }

      
            
    }


@media screen and (max-width: 800px){
    
    .timeline{
        padding: 10px;
        &__content{
            &-title{
                font-size: 15px;
            }
        }
    }

    .banniere{
         background-size: cover;

    }

    
    // Accueil Orchestique

    .accueilOrchestique{
        .orchestiqueLogo{
            padding: 0%;
            margin-left: 90px;
        }

        .titre{
            opacity: 1;
        }
        
        .animationAccueil{
        margin: 0%;
        padding: 0;
        columns: 1;
        width: 100%;
            img{
                padding: 0%;
                width: 100%;
            }
            .imgDef{
                padding: 0;
                margin: 0;
            }
            .imgTemps{
                margin: 0%;
            }
            .imgPhoto{
                margin: 0%;
                filter: none;
            }
            .imgVirtuoses{
                margin: 0%;
                filter: none;
            }
            .imgAsk{
                margin: 0%;
                width: 100%;
            }
        }

    }
        
}

@media screen and (max-width: 768px){
    // Mise en forme
    body{
        padding: 0;
        width: auto;
        margin: 0 5%;
    }
    main{
        width: 100%;
        .banniere{
            background-image: url(../img/cellist-cello-classical-music-37719.jpg);
            background-size: cover;
        }
    }
    // Navigation
    .menu{
        width: 50vh;
        height: 90vh;
        padding: 0;
        flex-direction: column;
        align-items: center;
        display: none;
    }
    /* Menu burger */

    nav{
        width: 50.3vh;
        background-color: rgb(255, 230, 183);
        position: static;
        position: fixed;
        z-index: 1;
        justify-content: center;

    .logoOrchestique{
        margin-left: 25%;

    }

        .btn-burger{
            color: rgb(194, 152, 152);
            font-size: 30px;
            display: flex;
            position: fixed;
        }
    }

    
    // Accueil Orchestique

    .accueilOrchestique{
        .orchestiqueLogo{
            padding: 0%;
            margin-left: 90px;
        }
        .animationAccueil{
        margin: 0%;
        padding: 0;
        columns: 1;
        width: 100%;
            img{
                padding: 0%;
                width: 100%;
            }
            .imgDef{
                padding: 0;
                margin: 0;
            }
            .imgTemps{
                margin: 0%;
            }
            .imgPhoto{
                margin: 0%;
                filter: none;
            }
            .imgVirtuoses{
                margin: 0%;
                filter: none;
            }
            .imgAsk{
                margin: 0%;
                width: 100%;
            }
        }

    }

    // Grands virtuoses

    .grandVirtuosesContainer{
        flex-direction: column;
        width: 100%;
        justify-content: center;
        
        .grandsVirtuoses{
            width: 100%;
            justify-content: center;
        }
    }

    // Médias
    .medias-container{
        flex-direction: column;
        width: 100%;
        margin: 0;

        .medias{
            width: 100%;
            height: auto;
        }
    }

    // Courant
    .gifCello{
        width: 100%;
        margin: 0%;
    }


    // Formulaire
    .formulaireQuestion{
        width: 83%;
        margin: 0%;
        margin-bottom: 20px;

        input[type="submit"]{
            margin-left: 0%;
        }
    }


    //Ecoute en ligne
    .liste-musique{
        flex-direction: column;
        padding: 0%;
    }
}

@media screen and (max-width : 715px){
    .timeline{
        &__img{
            height: 80px;
            width: auto;
        }
    }

    .modale{

        .modale-window{
            width: 100%;
            height: auto;
        }
        footer{
            margin: 0;
        }
    }

    #divPlayer{ 
        padding: 3px;
        border: none;
        margin: 2px;
        width: 100%;
        box-shadow: none;
    }

    footer{

        .footer-left p{
            display: flex;
            width: 100%;
            justify-content: center;
            &.footer-links {
                text-align: center;
                width: 100%;
                margin: 0;
                flex-direction: column;
                line-height: 1.8;
            }

            .point{
                display: none;
            }
            
        }

        .footer-left,
        .footer-right{
            text-align: center;
        }
        
        .footer-right{
            float: none;
            margin: 0 auto 20px;
        }
    }
}

